.modal {
	display: none;
	width: 100vw;
	height: 100vh;
	position: fixed;
	justify-content: center;
	align-items: center;
	z-index: 70;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	&--open {
		@extend .modal;
		display: flex;
	}
	&__container {
		padding: 25px 35px;
		background-color: white;
		width: max-content;
		height: max-content;
		min-width: 20vw;
		max-width: 90vw;
		max-height: 90vh;
		@media (max-width: 720px) {
			min-width: 80vw;
		}
	}
	&__close-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		margin-bottom: 30px;
	}
	&__close {
		padding: 5px 10px;
		border-radius: 100%;
		border: 1px solid $dark-color;
	}
}
