.characters {
	&__container {
		margin-top: 94px;
		display: flex;
		justify-content: center;
		row-gap: 51px;
		column-gap: 47px;
		flex-wrap: wrap;
		@media (max-width: 720px) {
			margin-top: 48px;
		}
		@media (max-width: 720px) {
			row-gap: 20px;
			column-gap: 12px;
		}
	}
}
