@import './variables/colors.scss';

@import './components/Buttons.scss';
@import './components/Icon.scss';
@import './components/Layout.scss';
@import './components/ActionButtons.scss';

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
